# Pandas Exam

Import `numpy as np`, `pandas as pd`, and check your pandas version.

In [1]:
import numpy as np 
import pandas as pd
print(pd.__version__) # your version may be different

# set display columns - Do not change or CodeGrade may not function correctly
pd.set_option('display.max_columns', None)

1.3.4

## Series

**Q1:** Create a Pandas Series object called `Q1` from the following `arr` array.

In [2]:
arr = np.array([4,8,-3,1])
Q1 = pd.Series(arr)

**Q2:** Create a Pandas Series object called `Q2` from the above `arr` array with an index of `a`, `b`, `c`, `d`.

In [3]:
Q2 = pd.Series(arr, index=['a', 'b', 'c', 'd'])

**Q3:** Index the `c` instance for the `Q2` Series and save it as `Q3`.

In [4]:
Q3 = Q2['c']

**Q4:**  Make a copy of the `Q2` Series and call it `Q4`. Change the `c` instance in `Q4` to `0`.

In [5]:
# make a copy
Q4 = Q2.copy()

Q4['c'] = 0

**Q5:** Filter all instances in `Q4` that are greater than `2` and save this as `Q5`.

In [6]:
Q5 = Q4[Q4>2]

**Q6:** Using a Python dictionary, create the following as a Series called `Q6` using the state as the index.
```
 Wyoming      581000
 Vermont      623000
 DC           714000
 Alaska       724000
 North Dakota 770000
```

In [7]:
states = {'Wyoming': 581000,'Vermont': 623000,'DC': 714000,
          'Alaska': 724000,'North Dakota': 770000}

Q6 = pd.Series(states)

**Q7:** Create a Series called `Q7` using the `states` dictionary above. Use the list `states2` below as the index. Take a look at the new Series. What do you notice?

In [8]:
states2 = ['Alaska','DC','North Dakota','South Dakota','Wyoming']

Q7 = pd.Series(states, index=states2)

**Q8:** What do you think will happen if we add `Q6` and `Q7` together? Add the two Series together and call the new Series `Q8`. Did it do what you expected?

In [9]:
Q8 = Q6+Q7

**Q9:** Perform the following tasks:
- make a copy of the `Q8` Series and call it `Q9` 
- Drop the null values from `Q9`. 
- Add a `name` attribute for the Series object as `population`. 
- Add a `name` attribute for the index as `state`.

In [10]:
Q9 = Q8.copy()

Q9 = Q9.dropna()
Q9.name='population'
Q9.index.name='state'

## DataFrame

**Q10:** Using the below Python dictionary, create a DataFrame called `Q10`.

In [11]:
# code will vary from student to student
data = {'book':['The Way of Kings','A Game of Thrones','The Hobbit',
                "Harry Potter and the Sorcerer's Stone",'The Lion, the Witch, and the Wardrobe'],
        'year_published': [2010,1996,1937,1997,1950],
        'amazon_rating': [5,4.5,5,5,5]}
    
Q10=pd.DataFrame(data)

**Q11:** Make a copy of the `Q10` DataFrame and call it `Q11`.  Add a fourth column called `copies_owned` and assign a scalar value of `1` to every row.

In [12]:
Q11 = Q10.copy()

Q11['copies_owned']=1

**Q12:** Make a copy of `Q11` and call it `Q12`. Remove the fourth column called `copies_owned` for the `Q12` DataFrame.

In [13]:
Q12 = Q11.copy()

del Q12['copies_owned']

**Q13:** Create a DataFrame called `Q13` using the below nested dictionary of dictionaries. (Note: outer keys are interpreted as columns, inner keys as row indices)

In [14]:
pop = {'Nevada':{2001: 2.4, 2002: 2.9},
      'Ohio': {2000:1.5, 2001: 1.7, 2002: 3.6}}

Q13=pd.DataFrame(pop)

**Q14:** Swap the columns and rows of `Q13` by using the transpose method `.T` and save this as `Q14`.

In [15]:
Q14=Q13.T

**Q15:** Change the columns in the `Q14` DataFrame to be in year order (earlier to later) and save this as `Q15`.

In [16]:
Q15=Q14.reindex(columns=[2000,2001,2002])

**Q16:** Index only `Nevada` in the `Q15` DataFrame and save this as `Q16`.

In [17]:
Q16=Q15.loc['Nevada']

**Q17:** Select the `2001` column from the `Q15` DataFrame and save this as `Q17`.

In [18]:
Q17=Q15[2001]

**Q18:**  Select the `Ohio` row and the `2001` and `2002` columns from `Q15` and save this as `Q18`.

In [19]:
Q18=Q15.loc['Ohio',[2001,2002]]

**Q19:** Load the `employees` DataFrame. Filter only the employees that make above $90,000 and save this as `Q19`.

In [20]:
table =  {'name': ['John', 'Jane', 'Billy', 'Tracy'],
         'age': [25, 27, 42, 31],
          'gender': ['M','F','M','F'],
         'profession': ['Developer', 'Analyst', 'Admin', 'Data Scientist'],
         'salary':[100000, 80000, 75000, 110000]
         }

employees = pd.DataFrame(table)
employees

    name  age gender      profession  salary
0   John   25      M       Developer  100000
1   Jane   27      F         Analyst   80000
2  Billy   42      M           Admin   75000
3  Tracy   31      F  Data Scientist  110000

In [21]:
Q19=employees[employees['salary']>90000]

**Q20:** Select only the names of the employees that make under $90,000 and save this as `Q20`.

In [22]:
Q20=employees[employees['salary']<90000]['name']

**Q21:** Select only the names of the employees that make under $90,000 and are over 30 years old.  Save this as `Q21`.

In [23]:
Q21=employees[(employees['salary']<90000) & (employees['age']>30)]['name']

**Q22:** Our company has grown, and we have hired three new employees. Create a new DataFrame called `Q22` that adds these employees (`new_hires`) to the original DataFrame `employees`. Make sure that the index for the new DataFrame is labeled as `0` - `n-1`.

In [24]:
new_hires = {'name': ['Emily','Lukas','Janelle'],
            'age': [22, np.nan, 52],
             'gender': ['F','M','F'],
            'profession': ['Project Manager','ML Engineer','CIO'],
            'salary': [np.nan,135000,230000]}

Q22=pd.concat([employees, pd.DataFrame(new_hires)], ignore_index=True)

**Q23:**  Create a copy of `Q22` and save it as `Q23`.  Drop all rows that contain missing values from the `Q23` DataFrame.

In [25]:
Q23 = Q22.copy()

Q23=Q23.dropna()

**Q24:** Make a copy of the `Q22` DataFrame and save it as `Q24`.  Add a new column called `departments` to the `Q24` DataFrame using the list below.

In [26]:
departments = ['IT','IT','Administration','IT','Communications','IT','Executive']

Q24 = Q22.copy()

Q24['departments']=departments

**Q25:** Make a copy of the `Q24` DataFrame and save it as `Q25`.  You heard back from HR that Emily's salary should equal the employee with the lowest salary. Fill this missing value in `Q25` with the minimum salary (use `fillna()` and `min()` instead of hard coding the salary).

In [27]:
Q25 = Q24.copy()

Q25['salary']=Q25['salary'].fillna((Q25['salary'].min()))

**Q26:** Make a copy of `Q25` and save it as `Q26`.  Add Lukas' age of `54` to the `Q26` DataFrame.

In [28]:
Q26 = Q25.copy()

Q26.loc[Q26['name']=='Lukas', 'age']=54

**Q27:** Sort the `Q26` DataFrame by the `age` column from youngest to oldest employee and save this as `Q27`.

In [29]:
Q27=Q26.sort_values(by='age')

**Q28:** Sort the `Q26` DataFrame in descending order by `salary` and save this as `Q28`.

In [30]:
Q28=Q26.sort_values(by='salary', ascending=False)

**Q29:** Using `value_counts()`, how many employees in the `Q28` DataFrame does each department have?  Save this as `Q29`.

In [31]:
Q29= Q28['departments'].value_counts()

**Q30:** Make a copy of the `Q28` DataFrame and save it as `Q30`.  Rename the `name` column in `Q30` to `employee_name`.

In [32]:
Q30 = Q28.copy()

Q30=Q30.rename(columns={'name':'employee_name'})

Good work!