In [2]:
import numpy as np

In [43]:
np.random.seed(56)
Q1=np.random.randint(20, size =(10,10))

In [6]:
Q2=Q1[2:5,3:8]

In [8]:
Q3=Q1[7:,4:6]

In [10]:
Q4=Q3.reshape((2,3))

In [93]:
x=np.random.randint(15, size =10)
y=np.random.randint(15, size =10)
Q5=np.concatenate([x,y])

In [94]:
Q6a, Q6b, Q6c, Q6d=np.split(Q5,[4,11,17])

In [95]:
Q7=Q5.sum()

In [102]:
p=np.random.randint(48,86, size =50)
Q8=p.mean()

In [115]:
name = ['Jonathan Loaisiga', 'Nick Saban', 'Katie Ladecky']
occupation = ['Baseball player', 'Football coach', 'Swimmer']
salary = [595800.00, 8619934.23, 100000.00]

In [116]:
Q9 = np.zeros(3, dtype = {'names':('Name', 'Occupation', 'Salary'),
                         'formats':('U20', 'U20', 'f8')})

In [117]:
Q9['Name'] = name
Q9['Occupation'] = occupation
Q9['Salary'] = salary