In [32]:
import numpy as np
import pandas as pd

In [33]:
Q1=pd.Series(['Stina Calista', 'Fran Hendrix', 'Cyril Isak', 'Danilo Norina'], 
             index=[5281224, 4223241, 4233342, 5012332])

In [34]:
Q2 = {'Roger Clemens': 133.7,
      'Cy Young': 131.5,
      'Walter Johnson': 117.1,
      'Greg Maddux': 116.7,
      'Randy Johnson': 110.4
     }

In [9]:
Q3=pd.Series(Q2)

In [16]:
occupation=pd.Series(['Accountant', 'Data scientist', 'Manager', 'Security staff'], 
             index=[5281224, 4223241, 4233342, 5012332])

In [15]:
Q4=pd.DataFrame({'Name': Q1,
                 'Occupation': occupation})

In [18]:
pop_dict = {'China': 1411778724,
      'India': 1378331486,
      'United States': 331865271,
      'Indonesia': 271350000,
      'Pakistan': 225200000
     }

In [19]:
area_dict = {'Russia': 17098246,
      'Canada': 9984670,
      'China': 9596961,
      'United States': 9525067,
      'Brazil': 8515767
     }

In [30]:
Q5=pd.DataFrame({'Population': pop_dict,
                 'Area': area_dict})

In [35]:
Q6=Q5.loc[['China', 'United States']]
print(Q6)

                 Population       Area
China          1.411779e+09  9596961.0
United States  3.318653e+08  9525067.0

In [27]:
Q7=Q5.loc[Q5['Population']>270000000]

In [29]:
Q8=Q5.loc[Q5['Area']>9600000]