In [1]:
import numpy as np
import pandas as pd

In [13]:
Q1=np.array([2, np.nan, 6, 7, 3, 2])

In [9]:
Q2=np.nansum(Q1)

In [15]:
Q3=pd.Series([4.0, 5.0, 2.0, np.nan, 1.0, np.nan], 
             index=[0, 1, 2, 3, 4, 5])

In [16]:
Q4=Q3.isnull()

In [57]:
Q5=pd.Series([4.0, 5.0, 2.0, np.nan, 1.0, np.nan], 
             index=[0, 1, 2, 3, 4, 5])
Q5=Q5.dropna()

In [56]:
Q6=pd.Series([4.0, 5.0, 2.0, np.nan, 1.0, np.nan], 
             index=[0, 1, 2, 3, 4, 5])
Q6=Q6.fillna(100)

In [53]:
n=pd.Series([4, 5, 6], 
             index=[0, 1, 2])
m=pd.Series([5.0, 6.0, np.nan], 
             index=[0, 1, 2])
o=pd.Series([2.0, np.nan, 7.0], 
             index=[0, 1, 2])
p=pd.Series([9.0, 3.0, np.nan], 
             index=[0, 1, 2])
q=pd.Series([1.0, np.nan, 4.0], 
             index=[0, 1, 2])
r=pd.Series([8, 2, 3], 
             index=[0, 1, 2])


Q7=pd.DataFrame({0: n,
                 1: m,
                 2: o,
                 3: p,
                 4: q,
                 5: r})
Q7=Q7.fillna(100)

In [55]:
Q8=pd.Series([4.0, 5.0, 2.0, np.nan, 1.0, np.nan], 
             index=[0, 1, 2, 3, 4, 5])
Q8=Q8.dropna()

In [65]:
s=pd.Series([4, 5, 6], 
             index=[0, 1, 2])
t=pd.Series([5.0, 6.0, np.nan], 
             index=[0, 1, 2])
u=pd.Series([2.0, np.nan, 7.0], 
             index=[0, 1, 2])
v=pd.Series([9.0, 3.0, np.nan], 
             index=[0, 1, 2])
w=pd.Series([1.0, np.nan, 4.0], 
             index=[0, 1, 2])
x=pd.Series([8, 2, 3], 
             index=[0, 1, 2])


Q9=pd.DataFrame({0: s,
                 1: t,
                 2: u,
                 3: v,
                 4: w,
                 5: x})
Q9=Q9.dropna(axis='columns')

In [68]:
s=pd.Series([4, 5, 6], 
             index=[0, 1, 2])
t=pd.Series([5.0, 6.0, np.nan], 
             index=[0, 1, 2])
u=pd.Series([2.0, np.nan, 7.0], 
             index=[0, 1, 2])
v=pd.Series([9.0, 3.0, np.nan], 
             index=[0, 1, 2])
w=pd.Series([1.0, np.nan, 4.0], 
             index=[0, 1, 2])
x=pd.Series([8, 2, 3], 
             index=[0, 1, 2])


Q10=pd.DataFrame({0: s,
                 1: t,
                 2: u,
                 3: v,
                 4: w,
                 5: x})
Q10=Q10.dropna(axis='rows')

In [70]:
s=pd.Series([4, 5, 6], 
             index=[0, 1, 2])
t=pd.Series([5.0, 6.0, np.nan], 
             index=[0, 1, 2])
u=pd.Series([2.0, np.nan, 7.0], 
             index=[0, 1, 2])
v=pd.Series([9.0, 3.0, np.nan], 
             index=[0, 1, 2])
w=pd.Series([1.0, np.nan, 4.0], 
             index=[0, 1, 2])
x=pd.Series([8, 2, 3], 
             index=[0, 1, 2])


Q11=pd.DataFrame({0: s,
                 1: t,
                 2: u,
                 3: v,
                 4: w,
                 5: x})
Q11=Q11.dropna(axis='rows')

In [74]:
s=pd.Series([4, 5, 6], 
             index=[0, 1, 2])
t=pd.Series([5.0, 6.0, np.nan], 
             index=[0, 1, 2])
u=pd.Series([2.0, np.nan, 7.0], 
             index=[0, 1, 2])
v=pd.Series([9.0, 3.0, np.nan], 
             index=[0, 1, 2])
w=pd.Series([1.0, np.nan, 4.0], 
             index=[0, 1, 2])
x=pd.Series([8, 2, 3], 
             index=[0, 1, 2])


Q12=pd.DataFrame({0: s,
                 1: t,
                 2: u,
                 3: v,
                 4: w,
                 5: x})

In [72]:
Q12[6]=np.nan